/*Sets webpage elements height to max, to avoid display issues (white-space) on varied platforms */
html {
	height: 100%;
}

/*Set body height, width, and margin so that it doesn't create border space around page*/
body {
	min-height: 100%;  
	width: 100%;
	margin: 0;
	background-color: black;
}

/*Defines header background colour */
header {
	background-color: white;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: black;
	font-size: 2vw;
}
/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 1.5vw 1vw;
}

* {
	box-sizing: border-box;
  }
  
/* Create two equal columns that float next to each other */
.column {
	float: center;
	width: 40%;
	padding: 10px;
	font-size: 2vw;
	background-color: black;
  }

.row:after {
	content: "";
	display: table;
	clear: both;
  }

@media screen and (max-width: 640px) {
	  .column {
		  width: 100%;
	  }
  }

@media screen and (min-width: 641px) and (max-width: 1007) {
	.column {
		width: 90%;
	}
}

@media screen and (min-width: 1008px) {
	.column {
		width: 80%;
	}
}

/*Introduce columns group and set to fill page*/
.col-container {
  display: table; /*Set to behave like a table (grid)*/
  width: 100%;
  /*min-height: calc(100vh - 91px); Set height of content to 100% of view minus the height of the footer*/
}

/*Define characteristics, such as display, background, width, and padding for each column*/
.col1 {
	text-align: center;
	display: table-cell;
	width: 25%;
}

/*Define colour of alt, width and height for all different types of images used*/
#img1 {
	max-width: 33%;
	color: white;
}

#img2 {
	width: 100%;
	height: 100%;
	color: white;
}

#img3 {
	width: 120px;
	height: 80px;
	color: white;
}

#img4 {
	max-width: 100%;
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

/*Define footer display, background colour, height, width, and position*/
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: gray;
	color: white;
	text-align: center;
}

.privacy {
	color: white;
	font-size: 1vw;
}

/*Set font sizes, text alignment and colours for different types of headings*/
h1 {
	color: darkred; 
	font-size: 10vw;
	font-weight: 600; /*Sets boldness of text. (range is 100-900, where 400 is normal and 700 is bold)*/
	text-align: center;
}

h2 {
	font-family: 'Mea Culpa';font-size: 10px; /*Web linked font*/
	color: white;
	font-size: 20vw; /*Set the font size as three times bigger than default*/
	text-align: center
}

/*Set font sizes, margin position and colour for paragraph text*/	
p{
	font-family: Courgette,'Comic Sans MS',cursive,sans-serif; /*Web linked font*/
	color: white;
	font-size: 1vw; /*1rem = default size for particular font*/
	margin-left: 1vw;
	text-align: center;
}		

p1 {
	font-family: Courgette,'Comic Sans MS',cursive,sans-serif; /*Web linked font*/
	color: white;
	font-size: 1vw; /*1rem = default size for particular font*/
	margin-left: 1vw;
	text-align: left;
}

/*Style hyperlinks as plain (no underline or special font) and set colour*/
.a {
    text-decoration: none;
    color: red;
}

/*Change hyperlink colour to red as mouse pointer hovers over it*/
.a:hover {
    color: green;
}
