/* Sets webpage elements height to max, to avoid display issues (white-space) on varied platforms */
html {
	min-height: 100%;
}

/* Set body height, width, and margin so that it doesn't create border space around page. Also set background colour and font */
body {
	min-height: 100%;  
	width: 100%;
	margin: 0;
	background-color: black;
}

/* Defines header background colour and padding size (1rem = 1x font size) */
header {
	background-color: lightgray;
	padding: 0.5rem;
}

/* Style the top navigation bar */
.topnav {
	background-color: lightgray;
	font-size: 1.4rem;
	text-align: center;
}
/* Style the topnav links */
.topnav a {
	color: blue;
	text-align: center;
	padding-right: 1.4rem;
}

/* Define display where padding and border is included in the width and height */
* {
	box-sizing: border-box;
}
  
/* Create three equal columns that float next to each other and define column characteristics */
.column {
	float: left;
	width: 33%;
	padding-bottom: 1vw;
	padding-right: 1vw;
	font-size: 2vw;
	background-color: black;
}

/* If the device screen size is less than 640px, display columns on top of each other */  
@media screen and (max-width: 640px) {
	.column {
		width: 100%;
	}
}
 
/* If the device screen size is more than 640px, display all columns next to each other */  
@media screen and (min-width: 641px) {
	  .column {
		  width: 33%;
  	  }
}

/* Create two equal columns that float next to each other and define column characteristics */
.column2 {
	  float: left;
	  width: 50%;
	  padding: 1vw;
	  font-size: 2vw;
	  background-color: black;
}

/* If the device screen size is less than 640px, display columns on top of each other */	
@media screen and (max-width: 640px) {
	  .column2 {
		  width: 100%;
	  }
}

/* If the device screen size is more than 640px, display all columns next to each other */	
@media screen and (min-width: 641px) {
		.column2 {
			width: 50%;
		}
}

/* Ensure there is no content after each element */
.row::after {
	content: "";
	display: table;
	clear: both;
}

/* Define colour of alt, width and height for all different types of images used */

.img1 {
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.img2 {
	width: 100%;
	height: 100%;
	color: white;
}

.img3 {
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}

/* If the device screen size is less than 641px, center align the images in these classes */  
@media screen and (max-width: 640px) {
	.img1 {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Align iframe text 
iframe {
	text-align: center;
}
*/
/* If the device screen is less than 641px, do not center iframe, and make it fill width of screen */
@media screen and (max-width: 640px) {
	.iframe {
		float : left;
		width: 100%;
	}
}

/* Create class to center elements */
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* Define footer display characteristics */
footer {
	width: 100%;
	background-color: lightgray;
	color: blue;
	text-align: center;
	padding: 10px;
	font-size: 0.6rem;
}

/* Define characteristics for the privacy statement */
.privacy {
	color: white;
	font-size: 1em;
	text-align: left;
}

/* Set font sizes, text alignment and colours for different types of headings */
h1 {
	font-family: Courgette,'Comic Sans MS',cursive,sans-serif; /* Web linked font */
	color: darkred; 
	font-size: 3rem;
	font-weight: 600; /* Sets boldness of text. (range is 100-900, where 400 is normal and 700 is bold) */
	text-align: center;
}

h2 {
	font-family: 'Mea Culpa';/* Web linked font */
	color: white;
	font-size: 1.5rem; /* Set the font size as 1.5 times bigger than default */
	text-align: center;
}

/* Set font sizes, margin position and colour for paragraph text */	
p {
	color: white;
	font-size: 1rem; /* 1rem = default size for particular font */
	text-align: center;
}		